body{
	background-image: url('http://www.fondsecran.eu/a/get_photo/627516/2560/1440');
	font-family: 'Amatic SC', cursive;
	text-align: center;
	background-repeat: no-repeat;
	font-size: 18px;
	color: #fff;
}
header{
	margin-top: 5%;
	margin-bottom: 5%;
}
div{
	font-weight: bold;
	font-size: 45px;
	padding: 15px;
}
#city{
	width: 25%;
	border: 0px;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 3em;
	border: 1px solid #48856f;
	background-color: #fff;
	color: #48856f;
}
.submitWeather{
	width: 10%;
	font-size: 3em;
	border: 1px solid #48856f;
	background-color: #fff;
	font-family: 'Amatic SC', cursive;
	font-size: 3em;
	color: #48856f;
}
#search:hover{
	background-color: #48856f;
	color: #fff;
}
.info{
	text-align: left;
}
#error{
	border: 10px solid white;
}