body{
	background-image: url('http://www.fondsecran.eu/a/get_photo/627516/2560/1440');
	font-family: 'Amatic SC', cursive;
	text-align: center;
	background-repeat: no-repeat;
	font-size: 18px;
	color: #fff;
}
header{
	margin-top: 2%;
	margin-bottom: 2%;
}
h1{
	margin: 0px;
}
#city{
	width: 25%;
	border: 0px;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 3em;
	border: 1px solid #48856f;
	background-color: #fff;
}
.submitWeather{
	width: 15%;
	font-size: 3em;
	border: 1px solid #fff;
	background-color: #48856f;
	font-family: 'Amatic SC', cursive;
	font-size: 3em;
	color: #fff;
}
#search:hover{
	background-color: #fff;
	border: 1px solid #48856f;
	color: #48856f;
}
.info{
	text-align: left;
	font-weight: bold;
	font-size: 40px;
	padding: 3px;
}

#map{
	width: 50%;
	height: 400px;
}
.container{
	display: flex;
	justify-content: space-between;
	padding: 1em;
}